COGOVME_PORT=4020
COGOVME_HMR_PORT=14020
AWS_REGION=auto
AWS_BUCKET=assets-cogov-me
AWS_ENDPOINT_URL=https://1e7e194ff8da4ad9e40ce041aea84f76.r2.cloudflarestorage.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ASSET_BASE_URL=
