[submodule "lib/dev-bin"]
	path = lib/dev-bin
	url = git@github.com:btakita/dev-bin.git
[submodule "lib/ui--server"]
	path = lib/ui--server
	url = git@github.com:rappstack/ui--server.git
[submodule "lib/ui--any"]
	path = lib/ui--any
	url = git@github.com:rappstack/ui--any.git
[submodule "lib/ui--browser--semantic"]
	path = lib/ui--browser--semantic
	url = git@github.com:rappstack/ui--browser--semantic.git
