[submodule "packages/home/static/assets"]
	path = packages/home/static/assets
	url = git@github.com:cogov/cogov-home-assets.git
[submodule "lib/dev-bin"]
	path = lib/dev-bin
	url = git@github.com:btakita/dev-bin.git
