# See: https://blog.cloud66.com/running-rails-development-with-a-fake-domain-and-ssl/
# mkcert my.cogov.me
# /etc/hosts
# 127.0.0.1 my.cogov.me
{
  auto_https disable_redirects
}
my.cogov.me {
  tls my.cogov.me.pem my.cogov.me-key.pem
  @not_static {
    not {
      file {
        try_files {path}
      }
    }
  }
  reverse_proxy @not_static localhost:4020
#  root * ../apps/web/static
  file_server
}
http://my.cogov.me {
  @not_static {
    not {
      file {
        try_files {path}
      }
    }
  }
  reverse_proxy @not_static localhost:4020
#  root * ../apps/web/static
  file_server
}
my.cogov.me.local {
  @not_static {
    not {
      file {
        try_files {path}
      }
    }
  }
	reverse_proxy @not_static localhost:14020
}
